/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root {
    --first-color: #6499E9;
    --second-color: #9EDDFF;
    --third-color: #3f81a7;
    --fourth-color: #63aca3;
    --fifth-color: #5090c5;
    --sixth-color: #5ea7da;
    --seventh-color: #58a8e0;
    --eighth-color: #68b0e3;
    --nine-color: #359ce6;
    --tenth-color: #1292EE;
    --eleventh-color: #1d82ca;
    --twelve-color: #0e66a5;
    --button-color: hsl(263, 50%, 3%);
    --text-color: #fff;

    --normal-font-size: 14px;
}


a {
    text-decoration: none;
}

.container {
    height: 100vh;
    margin-inline: 1.5rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.button {
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;
}

.button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.button:hover i {
    -webkit-animation: anime 0.2s cubic-bezier(0.19, 1, 0.22, 1) 2;
            animation: anime 0.2s cubic-bezier(0.19, 1, 0.22, 1) 2;
}

.button__content {
    position: relative;
    background-color: var(--button-color);
    padding: 1.3rem 2.3rem;
    border-radius: 4rem;
    font-weight: 600;
    overflow: hidden;
}

.button__text {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    color: var(--text-color);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: -0.5px;
    font-weight: 500;
    white-space: nowrap;
}

.button__text i {
    position: absolute;
    right: 0px;
    color: #ffffff;
    /* margin-left: 14px; */
    font-weight: 100;
    font-size: 26px;
}

.button__content div {
    width: 70px;
    height: 70px;
    /* background-color: aquamarine; */
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    -webkit-filter: blur(12px);
            filter: blur(12px);
}

.button__shape-1 {
    background-color: var(--first-color);
    -webkit-transform: translate(-48px, -16px);
        -ms-transform: translate(-48px, -16px);
            transform: translate(-48px, -16px);
    -webkit-animation: shape-1 6s 1s ease-out infinite;
            animation: shape-1 6s 1s ease-out infinite;
}

.button__shape-2 {
    background-color: var(--second-color);
    -webkit-transform: translate(-12px, 16px);
        -ms-transform: translate(-12px, 16px);
            transform: translate(-12px, 16px);
    -webkit-animation: shape-2 6s ease-in infinite;
            animation: shape-2 6s ease-in infinite;
}

.button__shape-3 {
    background-color: var(--third-color);
    -webkit-transform: translate(20px, -16px);
        -ms-transform: translate(20px, -16px);
            transform: translate(20px, -16px);
    -webkit-animation: shape-3 6s ease-out infinite;
            animation: shape-3 6s ease-out infinite;
}

.button__shape-4 {
    background-color: var(--fourth-color);
    -webkit-transform: translate(48px, 16px);
        -ms-transform: translate(48px, 16px);
            transform: translate(48px, 16px);
    -webkit-animation: shape-4 6s 1s ease-in infinite;
            animation: shape-4 6s 1s ease-in infinite;
}

.button__shape-5 {
    background-color: var(--fifth-color);
    -webkit-transform: translate(-125px, -20px);
        -ms-transform: translate(-125px, -20px);
            transform: translate(-125px, -20px);
    -webkit-animation: shape-5 6s 1s ease-out infinite;
            animation: shape-5 6s 1s ease-out infinite;
}

.button__shape-6 {
    background-color: var(--sixth-color);
    -webkit-transform: translate(-99px, 21px);
        -ms-transform: translate(-99px, 21px);
            transform: translate(-99px, 21px);
    -webkit-animation: shape-6 6s ease-in infinite;
            animation: shape-6 6s ease-in infinite;
}

.button__shape-7 {
    background-color: var(--seventh-color);
    -webkit-transform: translate(120px, -15px);
        -ms-transform: translate(120px, -15px);
            transform: translate(120px, -15px);
    -webkit-animation: shape-7 7s ease-out infinite;
            animation: shape-7 7s ease-out infinite;
}

.button__shape-8 {
    background-color: var(--eighth-color);
    -webkit-transform: translate(108px, 30px);
        -ms-transform: translate(108px, 30px);
            transform: translate(108px, 30px);
    -webkit-animation: shape-8 6s 1s ease-in infinite;
            animation: shape-8 6s 1s ease-in infinite;
}

.button__shape-9 {
    background-color: var(--nine-color);
    -webkit-transform: translate(60px, 50px);
        -ms-transform: translate(60px, 50px);
            transform: translate(60px, 50px);
    -webkit-animation: shape-9 6s ease-out infinite;
            animation: shape-9 6s ease-out infinite;
}

.button__shape-0 {
    background-color: var(--tenth-color);
    -webkit-transform: translate(94px, -40px);
        -ms-transform: translate(94px, -40px);
            transform: translate(94px, -40px);
    -webkit-animation: shape-0 6s 1s ease-in infinite;
            animation: shape-0 6s 1s ease-in infinite;
}

.button__shape-11 {
    background-color: var(--eleventh-color);
    -webkit-transform: translate(-100px, -30px);
        -ms-transform: translate(-100px, -30px);
            transform: translate(-100px, -30px);
    -webkit-animation: shape-11 5s 1s ease-out infinite;
            animation: shape-11 5s 1s ease-out infinite;
}

.button__shape-12 {
    background-color: var(--twelve-color);
    -webkit-transform: translate(-40px, 30px);
        -ms-transform: translate(-40px, 30px);
            transform: translate(-40px, 30px);
    -webkit-animation: shape-12 3s ease-in infinite;
            animation: shape-12 3s ease-in infinite;
}

.button__shadow {
    width: 80%;
    height: 1rem;
    background: -o-linear-gradient(10deg,
            var(--first-color) 10%,
            var(--second-color) 30%,
            var(--third-color) 60%,
            var(--fourth-color) 90%);
    background: linear-gradient(80deg,
            var(--first-color) 10%,
            var(--second-color) 30%,
            var(--third-color) 60%,
            var(--fourth-color) 90%);
    border-radius: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -1px;
    z-index: -1;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.button:hover .button__shadow {
    opacity: 1;
}

@-webkit-keyframes shape-1 {
    33% {
        -webkit-transform: translate(-28px, 0);
                transform: translate(-28px, 0);
    }
}

@keyframes shape-1 {
    33% {
        -webkit-transform: translate(-28px, 0);
                transform: translate(-28px, 0);
    }
}

@-webkit-keyframes shape-2 {
    33% {
        -webkit-transform: translate(-28px, 28px);
                transform: translate(-28px, 28px);
    }
}

@keyframes shape-2 {
    33% {
        -webkit-transform: translate(-28px, 28px);
                transform: translate(-28px, 28px);
    }
}

@-webkit-keyframes shape-3 {
    33% {
        -webkit-transform: translate(20px, 4px);
                transform: translate(20px, 4px);
    }
}

@keyframes shape-3 {
    33% {
        -webkit-transform: translate(20px, 4px);
                transform: translate(20px, 4px);
    }
}

@-webkit-keyframes shape-4 {
    33% {
        -webkit-transform: translate(48px, 0px);
                transform: translate(48px, 0px);
    }
}

@keyframes shape-4 {
    33% {
        -webkit-transform: translate(48px, 0px);
                transform: translate(48px, 0px);
    }
}

@-webkit-keyframes shape-5 {
    33% {
        -webkit-transform: translate(-78px, 0);
                transform: translate(-78px, 0);
    }
}

@keyframes shape-5 {
    33% {
        -webkit-transform: translate(-78px, 0);
                transform: translate(-78px, 0);
    }
}

@-webkit-keyframes shape-6 {
    33% {
        -webkit-transform: translate(-110px, 28px);
                transform: translate(-110px, 28px);
    }
}

@keyframes shape-6 {
    33% {
        -webkit-transform: translate(-110px, 28px);
                transform: translate(-110px, 28px);
    }
}

@-webkit-keyframes shape-7 {
    33% {
        -webkit-transform: translate(120px, 4px);
                transform: translate(120px, 4px);
    }
}

@keyframes shape-7 {
    33% {
        -webkit-transform: translate(120px, 4px);
                transform: translate(120px, 4px);
    }
}

@-webkit-keyframes shape-8 {
    33% {
        -webkit-transform: translate(85px, -1px);
                transform: translate(85px, -1px);
    }
}

@keyframes shape-8 {
    33% {
        -webkit-transform: translate(85px, -1px);
                transform: translate(85px, -1px);
    }
}

@-webkit-keyframes shape-9 {
    33% {
        -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
    }
}

@keyframes shape-9 {
    33% {
        -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
    }
}

@-webkit-keyframes shape-0 {
    33% {
        -webkit-transform: translate(70px, -15px);
                transform: translate(70px, -15px);
    }
}

@keyframes shape-0 {
    33% {
        -webkit-transform: translate(70px, -15px);
                transform: translate(70px, -15px);
    }
}

@-webkit-keyframes shape-11 {
    33% {
        -webkit-transform: translate(-120px, -8px);
                transform: translate(-120px, -8px);
    }
}

@keyframes shape-11 {
    33% {
        -webkit-transform: translate(-120px, -8px);
                transform: translate(-120px, -8px);
    }
}

@-webkit-keyframes shape-12 {
    33% {
        -webkit-transform: translate(-60px, 0px);
                transform: translate(-60px, 0px);
    }
}

@keyframes shape-12 {
    33% {
        -webkit-transform: translate(-60px, 0px);
                transform: translate(-60px, 0px);
    }
}

@-webkit-keyframes anime {
    0% {
        opacity: 0.2;
        -webkit-transform: translate(1px, -1px);
                transform: translate(1px, -1px);
    }

    10% {
        opacity: 0.4;
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
    }

    40% {
        opacity: 0.6;
        -webkit-transform: translate(6px, -6px);
                transform: translate(6px, -6px);
    }

    60% {
        opacity: 0.8;
        -webkit-transform: translate(8px, -8px);
                transform: translate(8px, -8px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(10px, -10px);
                transform: translate(10px, -10px);
    }
}

@keyframes anime {
    0% {
        opacity: 0.2;
        -webkit-transform: translate(1px, -1px);
                transform: translate(1px, -1px);
    }

    10% {
        opacity: 0.4;
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
    }

    40% {
        opacity: 0.6;
        -webkit-transform: translate(6px, -6px);
                transform: translate(6px, -6px);
    }

    60% {
        opacity: 0.8;
        -webkit-transform: translate(8px, -8px);
                transform: translate(8px, -8px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(10px, -10px);
                transform: translate(10px, -10px);
    }
}